#find-doctor {
  padding: 10rem 0 0 0;
}

.find__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 6rem;
}
.find__wrapper .find--left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2vh;
}
.find__wrapper .find--left .find--left__box {
  width: 50rem;
}
.find__wrapper .find--left h2 {
  color: rgb(16, 40, 81);
  font-weight: 450;
  font-size: 4rem;
  margin: 0 0 1vh 0;
  width: 40rem;
}
.find__wrapper .find--left p {
  color: rgb(116, 120, 127);
  font-size: 1.8rem;
  margin: 0 0 4vh 0;
}
.find__wrapper .find--left .find--left__box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2vh;
}
.find__wrapper .find--left .find__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1vw;
  height: 12rem;
  background-color: rgb(220, 233, 255);
  border-radius: 1rem;
  padding: 1rem;
}
.find__wrapper .find--left .find__item:before {
  content: "";
  border: 1px solid rgb(16, 40, 81);
  width: 1px;
  height: 4rem;
  position: relative;
  top: 6rem;
  left: 4rem;
}
.find__wrapper .find--left .find__item h3 {
  color: rgb(16, 40, 81);
  font-weight: 450;
  font-size: 2.2rem;
  text-overflow: clip;
}
.find__wrapper .find--left .find__item p {
  color: rgb(116, 120, 127);
  font-size: 1.4rem;
  margin: 0 0 4vh 0;
}
.find__wrapper .find--left .find__item__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1vh;
}
.find__wrapper .find--right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.find__wrapper .find--doctor {
  position: absolute;
  left: 60%;
  z-index: 1;
  width: 40rem;
  background-color: rgb(1, 78, 213);
  border-radius: 55% 45% 67% 33%/37% 92% 8% 63%;
  animation: find-bg 20s infinite linear;
}
.find__wrapper .floating-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../resources/images/clip-board-illustration-template-graphic-element-health-doctor-untextured-printable-hybrid-black.webp);
  background-position: 50%;
  background-size: 40rem 38rem;
  background-repeat: no-repeat;
  gap: 2vh;
  text-align: center;
  width: 26.5rem;
  height: 38rem;
  border-radius: 1rem;
  position: absolute;
  left: 45vw;
  z-index: 10;
}
.find__wrapper .floating-card:hover {
  -webkit-animation: wiggle 1s infinite;
  animation: wiggle 1s infinite;
}
.find__wrapper .floating-card button {
  font-family: inherit;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  outline: 0;
  border: none;
  box-shadow: none;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(1, 78, 213);
  border-radius: 1rem;
  width: 60%;
}
.find__wrapper .floating-card button:hover {
  background-color: rgb(16, 40, 81);
  color: #f7f7f7;
}
.find__wrapper .floating-card button img {
  width: 2vw;
}
.find__wrapper .floating-card__input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5vh 1vw;
  background-color: rgb(220, 233, 255);
  width: 18rem;
}
.find__wrapper .floating-card__input img {
  width: 1.5vw;
}
.find__wrapper .floating-card__input input {
  padding: 0.5vw;
  width: 70%;
  border: none;
  background-color: rgb(220, 233, 255);
}/*# sourceMappingURL=find-doctor.css.map */