@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Square+Peg&display=swap");
@use "sass:map";
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:root {
  --primary-color: $primary-color;
  --secondary-color: $secondary-color;
  --third-color: $third-color;
  --accent-color: $accent-color;
  --light-color: $light-color;
  --dark-color: $dark-color;
  --font-primary-color: map-get($font-color, "primary" );
  --font-secondary-color: map-get($font-color, "secondary" );
  --font-other-color: map-get($font-color, "other");
  --font-s: map-get($font-size, "s");
  --font-m: map-get($font-size, "m");
  --font-ml: map-get($font-size, "ml");
  --font-l: map-get($font-size, "l");
  --font-xl: map-get($font-size, "xl");
  --font-2xl: map-get($font-size, "2xl");
  --font-3xl: map-get($font-size, "3xl");
  --font-weight-thin: map-get($font-weight, "thin");
  --font-weight-regular: map-get($font-weight, "regular");
  --font-weight-medium: map-get($font-weight, "medium");
  --font-weight-bold: map-get($font-weight, "bold");
  --border-radius-s: map-get($border-radius, "s");
  --border-radius-m: map-get($border-radius, "m");
  --border-radius-l: map-get($border-radius, "l");
}

html {
  font-size: 62.5%;
  font-family: "ًRoboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-size: 1.5rem;
  background: linear-gradient(141deg, white 0%, #fdf0f0 51%, #f2f2f2 75%);
}

button {
  cursor: pointer;
  font-family: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 1rem;
}

.btn__primary {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.btn__primary:hover {
  background: transparent;
  color: var(--dark-color);
  box-shadow: inset 0 0 0 0.2rem var(--primary-color);
}

@keyframes icon1 {
  0% {
  }
  10% {
    transform: translateX(-50%) translate;
  }
}

.find__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1vw;
  width: 99%;
}

.find__wrapper .find--left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2vh;
  width: 30%;
}

.find__wrapper .find--left h2 {
  color: #102851;
  font-size: 3rem;
  margin: 0 0 1vh 0;
}

.find__wrapper .find--left p {
  color: #9aa1aa;
  margin: 0 0 4vh 0;
}

.find__wrapper .find--left .find--left__box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2vh;
}

.find__wrapper .find--left .find__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2vw;
  background-color: #e8f1ff;
  border-radius: 1rem;
}

.find__wrapper .find--left .find__item div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1vh;
}

.find__wrapper .find--right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.find__wrapper .find--blob {
  position: relative;
  width: 80rem;
  opacity: 0.5;
  z-index: -1;
  top: 5vh;
  left: 4vw;
}

.find__wrapper .find--doctor {
  position: absolute;
  z-index: 1;
  width: 75rem;
}

.find__wrapper .floating-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  text-align: center;
  padding: 3rem 0.5rem;
  width: 12vw;
  border-radius: 1rem;
  border: 0.5px solid #102851;
  position: absolute;
  left: 45vw;
  background-color: #f7f7f7;
  z-index: 10;
  box-shadow: 0.1rem 0.1rem 1rem #102851;
}

.find__wrapper .floating-card h3 {
  color: #102851;
}

.find__wrapper .floating-card button {
  font-family: inherit;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  outline: 0;
  border: none;
  box-shadow: none;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #e8f1ff;
  border-radius: 1rem;
  width: 80%;
}

.find__wrapper .floating-card button:hover {
  background-color: #102851;
  color: #f7f7f7;
}

.find__wrapper .floating-card button img {
  width: 2vw;
}

.find__wrapper .floating-card__input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
  padding: 0.5vh 1vw;
}

.find__wrapper .floating-card__input img {
  width: 2vw;
}

.find__wrapper .floating-card__input input {
  padding: 0.5vw;
  width: 90%;
  border: none;
}
/*# sourceMappingURL=find-doctor.css.map */