.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  z-index: -5;
}
.hero__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  gap: 1vh;
}
.hero__text--large {
  text-align: left;
  font-size: 4rem;
  font-weight: 400;
  color: rgb(16, 40, 81);
  line-height: 8vh;
  letter-spacing: 2px;
  margin: 0 0 2vh 0;
}
.hero__text--small {
  text-align: left;
  font-size: 1.8rem;
  color: rgb(116, 120, 127);
  line-height: 3vh;
  margin: 0 0 2vh 0;
}
.hero__text__testimonial {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.hero__text__testimonial .doctor-profiles {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.4rem;
  background-color: rgb(1, 78, 213);
  padding: 1rem;
  border-radius: 0.5rem;
}
.hero__text__testimonial .doctor-profiles:hover .doctor-profiles__image {
  animation: star 1s infinite backwards;
}
.hero__text__testimonial .doctor-profiles__image {
  width: 20%;
}
.hero__text__testimonial .doctor-profiles__image img {
  width: 80%;
}
.hero__text__testimonial .doctor-profiles__text {
  width: 80%;
  color: #f7f7f7;
}
.hero__text__testimonial .patient-ratings {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.4rem;
  background-color: rgb(1, 78, 213);
  padding: 1rem;
  border-radius: 0.5rem;
}
.hero__text__testimonial .patient-ratings:hover .patient-ratings__image {
  animation: thumb 1s infinite backwards;
}
.hero__text__testimonial .patient-ratings__image {
  width: 20%;
}
.hero__text__testimonial .patient-ratings__image img {
  width: 80%;
}
.hero__text__testimonial .patient-ratings__text {
  color: #f7f7f7;
}
.hero__image {
  position: relative;
  left: 5vw;
  top: 10vh;
  z-index: 5;
}
.hero__image__circle--1 {
  border-radius: 100%;
  border: 2px solid rgba(200, 199, 206, 0.35);
  position: absolute;
  width: 42%;
  height: 60%;
  top: 20%;
  left: 29%;
  z-index: -1;
  -webkit-animation: circle 20s backwards infinite linear;
  animation: circle 20s backwards infinite linear;
}
.hero__image__circle--1 .icon--1 {
  position: absolute;
  width: 12%;
  border-radius: 100%;
  background-color: #ffffff;
  padding: 1rem;
  z-index: 1;
  top: 14%;
  left: 3%;
  box-shadow: 1px 1px 1rem black;
}
.hero__image__circle--2 {
  border-radius: 100%;
  border: 2px solid rgba(200, 199, 206, 0.35);
  position: absolute;
  width: 57%;
  height: 80%;
  top: 10%;
  left: 21%;
  z-index: -1000;
  -webkit-animation: circle 40s backwards infinite linear;
  animation: circle 40s backwards infinite linear;
}
.hero__image__circle--2 .icon--2 {
  position: absolute;
  width: 8%;
  border-radius: 100%;
  background-color: #ffffff;
  padding: 1rem;
  z-index: 2;
  top: 10%;
  left: 80%;
  box-shadow: 1px 1px 1rem black;
}
.hero__image__circle--3 {
  border-radius: 100%;
  border: 2px solid rgba(200, 199, 206, 0.35);
  position: absolute;
  width: 70%;
  height: 98%;
  top: 1%;
  left: 14%;
  z-index: -1;
  -webkit-animation: circle 60s backwards infinite linear;
  animation: circle 60s backwards infinite linear;
}
.hero__image__circle--3 .icon--3 {
  position: absolute;
  width: 8%;
  border-radius: 100%;
  background-color: #ffffff;
  padding: 1rem;
  z-index: 3;
  top: 16%;
  left: 5%;
  box-shadow: 1px 1px 1rem black;
}
.hero__image__circle--4 {
  border-radius: 100%;
  border: 2px solid rgba(200, 199, 206, 0.35);
  position: absolute;
  width: 83%;
  height: 118%;
  top: -9%;
  left: 7%;
  z-index: -1;
  -webkit-animation: circle 80s backwards infinite linear;
  animation: circle 80s backwards infinite linear;
}
.hero__image__circle--4 .icon--4 {
  position: absolute;
  width: 8%;
  border-radius: 100%;
  background-color: #ffffff;
  padding: 1rem;
  z-index: 4;
  left: 70%;
  top: 1%;
  box-shadow: 1px 1px 1rem black;
}
.hero__image img {
  width: 80rem;
  z-index: 4;
  position: relative;
}/*# sourceMappingURL=hero.css.map */