.specialists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5vh 0 0 0;
  gap: 2vh;
}
.specialists .sp--title {
  font-size: 4rem;
  color: rgb(16, 40, 81);
  font-weight: 500;
}
.specialists p {
  color: rgb(154, 161, 170);
  font-size: 1.8rem;
}
.specialists--1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.specialists--1 .specialists--item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30rem;
  background-color: #ffffff;
  padding: 2rem 0 0 0;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: all 0.2s linear;
  box-shadow: 1px 1px 5px rgb(16, 40, 81);
}
.specialists--1 .specialists--item:hover {
  background-color: rgb(1, 78, 213);
}
.specialists--1 .specialists--item h3 {
  color: #f7f7f7;
}
.specialists--1 .specialists--item p {
  color: rgb(154, 161, 170);
}
.specialists--1 .sp-1--img {
  width: 32rem;
  height: 30rem;
  background-repeat: no-repeat;
  border-radius: 1rem;
  width: 95%;
  background: url(../../resources/people/og/1-removebg-preview.png);
  background-repeat: no-repeat;
  background-position: 40% -12%;
  transition: all 0.2s linear;
}
.specialists--1 .sp-1--img:hover {
  background-size: 120%;
}
.specialists--1 .sp-2--img {
  width: 32rem;
  height: 30rem;
  background-repeat: no-repeat;
  border-radius: 1rem;
  width: 95%;
  background: url(../../resources/people/og/2-removebg-preview.png);
  background-repeat: no-repeat;
  background-position: 70% -10%;
  transition: all 0.2s linear;
}
.specialists--1 .sp-2--img:hover {
  background-size: 140%;
}
.specialists--1 .sp-3--img {
  width: 32rem;
  height: 30rem;
  background-repeat: no-repeat;
  border-radius: 1rem;
  width: 95%;
  background: url(../../resources/people/og/3-removebg-preview.png);
  background-repeat: no-repeat;
  background-position: 40% -10%;
  transition: all 0.2s linear;
}
.specialists--1 .sp-3--img:hover {
  background-size: 120%;
}
.specialists--1 .sp-4--img {
  width: 32rem;
  height: 30rem;
  background-repeat: no-repeat;
  border-radius: 1rem;
  width: 95%;
  background: url(../../resources/people/og/5-removebg-preview.png);
  background-repeat: no-repeat;
  background-position: 40% -12%;
  transition: all 0.2s linear;
}
.specialists--1 .sp-4--img:hover {
  background-size: 120%;
}
.specialists--1 .sp--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(1, 78, 213);
  width: 100%;
  height: 8rem;
  border-radius: 0 0 1rem 1rem;
}
.specialists--2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.specialists--2 .sp--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(1, 78, 213);
  width: 100%;
  height: 8rem;
  border-radius: 0 0 1rem 1rem;
}
.specialists--2 .specialists--item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30rem;
  background-color: #ffffff;
  padding: 2rem 0 0 0;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: all 0.2s linear;
  box-shadow: 1px 1px 5px rgb(16, 40, 81);
}
.specialists--2 .specialists--item:hover {
  background-color: rgb(1, 78, 213);
}
.specialists--2 .specialists--item h3 {
  color: #f7f7f7;
}
.specialists--2 .specialists--item p {
  color: rgb(154, 161, 170);
}
.specialists--2 .sp-5--img {
  width: 32rem;
  height: 30rem;
  background-repeat: no-repeat;
  border-radius: 1rem;
  width: 95%;
  background: url(../../resources/people/og/6-removebg-preview.png);
  background-repeat: no-repeat;
  background-position: 40% -10%;
  transition: all 0.2s linear;
}
.specialists--2 .sp-5--img:hover {
  background-size: 120%;
}
.specialists--2 .sp-6--img {
  width: 32rem;
  height: 30rem;
  background-repeat: no-repeat;
  border-radius: 1rem;
  width: 95%;
  background: url(../../resources/people/og/7-removebg-preview.png);
  background-repeat: no-repeat;
  background-position: 40% -12%;
  transition: all 0.2s linear;
}
.specialists--2 .sp-6--img:hover {
  background-size: 120%;
}
.specialists--2 .sp-7--img {
  width: 32rem;
  height: 30rem;
  background-repeat: no-repeat;
  border-radius: 1rem;
  width: 95%;
  background: url(../../resources/people/og/8-removebg-preview.png);
  background-repeat: no-repeat;
  background-position: 40% -12%;
  transition: all 0.2s linear;
}
.specialists--2 .sp-7--img:hover {
  background-size: 140%;
}
.specialists--2 .sp-8--img {
  width: 32rem;
  height: 30rem;
  background-repeat: no-repeat;
  border-radius: 1rem;
  width: 95%;
  background: url(../../resources/people/og/9-removebg-preview.png);
  background-repeat: no-repeat;
  background-position: 40% -12%;
  transition: all 0.2s linear;
}
.specialists--2 .sp-8--img:hover {
  background-size: 140%;
}
.specialists .sp--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(1, 78, 213);
  width: 100%;
  height: 8rem;
  border-radius: 0 0 1rem 1rem;
}
.specialists .slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  cursor: pointer;
}
.specialists .slider i {
  color: rgb(16, 40, 81);
}/*# sourceMappingURL=specialists.css.map */