@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin btn {
  font-family: inherit;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  outline: 0;
  border: none;
  box-shadow: none;
  transition: all 0.3s ease;
}

@mixin circle {
  border-radius: 100%;
  border: 2px solid rgba(200, 199, 206, 0.35);
  position: absolute;
}

@mixin sp-img {
  width: 32rem;
  height: 30rem;
  background-repeat: no-repeat;
  // border: 1px solid $third-color;
  border-radius: map-get($border-radius, "m");
  width: 95%;
}
