@import "./layout.scss";


.hero{
    @include flex(row,flex-end,center);
    gap: 2vw;
    background-color: transparent;
   
    z-index: -5;

        &__text{
            @include flex(column,center,center);
            width: 50vw;
            gap: 1vh;

            &--large{
                text-align: center;
                width: 99%;
                font-size: map-get($font-size , "xl" );
                font-weight: map-get($font-weight , "thin");
                color: map-get($font-color , "primary");
                line-height: 10vh;
            }

            &--small{
                text-align: center;
                width: 60%;
                font-size: map-get($font-size , "m");
                color: map-get($font-color , "other");
                line-height: 3vh;
            }


            &__testimonial{
                @include flex(row, space-around, center);
                width: 65%;
                gap: 1rem;
            
                .doctor-profiles{
                    width: 50%;
                    @include flex(row,flex-start, center);
                    font-size: map-get($font-size , "m" );
                    background-color: $secondary-color;
                    padding: 1rem;
                    border-radius: map-get($border-radius, "s" );

                    &__image{
                        width: 20%;

                        img{
                            width: 80%;
                        }
                    }

                    &__text{
                        width: 80%;
                        color: map-get($font-color , "secondary");
                    }
                }

                .patient-ratings{
                    width: 50%;
                    @include flex(row, flex-start, center);
                    font-size: map-get($font-size , "m" );
                    background-color: $secondary-color;
                    padding: 1rem;
                    border-radius: map-get($border-radius, "s" );
                    
                    &__image{
                        width: 20%;

                        img{
                            width: 80%;
                        }
                    }

                    &__text{
                        width: 80%;
                        color: map-get($font-color , "secondary");
                    }
                
                }
            }


            
        }





        &__image{
            width: 80vw;
            position: relative;
            left: 5vw;
            top: 2vh;
            z-index: 5;

            &__circle--1{
                @include circle;
                  width: 45%;
                  height: 68%;
                  top: 20%;
                  left: 30%;
                  z-index: -1;

                .icon--1{
                    position: absolute;
                    width: 10%;
                    border-radius: 100%;
                    background-color: $light-color;
                    padding: 1rem;
                    z-index: 1;
                    top: 16%;
                    left: 3%;
                }

              }
  
              &__circle--2{
                  @include circle;
                  width: 55%;
                  height: 85%;
                  top: 12%;
                  left:25%;
                  z-index: -1000;


                  .icon--2{
                    position: absolute;
                    width: 10%;
                    border-radius: 100%;
                    background-color: $light-color;
                    padding: 1rem;
                    z-index: 2;
                    top: 10%;
                    left: 80%;
                }
                }
  
                &__circle--3{
                  @include circle;
                  width: 65%;
                  height: 95%;
                  top: 6%;
                  left: 20%;
                  z-index: -1;


                    .icon--3{
                    position: absolute;
                    width: 10%;
                    border-radius: 100%;
                    background-color: $light-color;
                    padding: 1rem;
                    z-index: 3;
                    top: 14%;
                     }

                      .icon--4{
                    position: absolute;
                    width: 9%;
                    border-radius: 100%;
                    background-color: $light-color;
                    padding: 1rem;
                    z-index: 4;
                    left: 70%;
                      }
                }

            img{
                width: 58vw;
                z-index: 4;
                position:relative;
                left: 2vw;
            }

            
        }
}